// Place all the styles related to the analises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak { page-break-inside: avoid; }

tr {
 page-break-inside: avoid;
}

@media print {
 
  .print_friendly{
 
     display:hidden;
 
  }
 
}

p {
 page-break-after: always;
}

.cabecalho {
 color: white;
 background-color: #006400;
 border: 2px solid black;
}
